<button type="submit" title="Login With Phone Number" id="phone-login" class="btn btn-primary m-1">Phone Login</button>

<script type="text/javascript"><!--

$('#phone-login').on('click', function(e){
    e.preventdefault();
    var element = this;

    $.ajax({
        url: 'index.php?route=extension/iml_phone_login/account/iml_phone_login&language={{ language }}',
        type: 'post',
        data: new FormData($('#form-upload')[0]),
        dataType: 'json',
        cache: false,
        contentType: false,
        processData: false,
        beforeSend: function () {
            $(element).button('loading');
        },

        complete: function () {
            $(element).button('reset');
        },

        success: function (json) {
            if (json['error']) {
                $('#alert').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa-solid fa-circle-exclamation"></i> ' + json['error'] + ' <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');
            }

            if (json['success']) {

                $('#alert').prepend('<div class="alert alert-success alert-dismissible"><i class="fa-solid fa-check-circle"></i> ' + json['text_success_create'] + ' <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');
            }
        }

    });
})
//--></script>
